<!-- intro section -->
<div class="slot-large">
  <h3>Hiran Venugopalan</h3>
  <p>
  Product and type designer with 14 years of building and leading design teams. 
  Currently crafting digital experiences at <a href="https://www.kaleyra.com/">Kaleyra</a>. 
  </p>
  <p>
  This website serves as my digital garden — 
  a collection of {%- include moc-list.html -%}
  </p>
  <p>
  I <i>build</i> things and love collaborating on experimental projects with like-minded people. 
  I also mentor designers looking to grow. 
  Drop me an email if you'd like to connect or explore ideas together. 
  I live in Bangalore, if you're ever here — let's meet for a cup of coffee.
  </p>

<div class="button-group">
  <a href="mailto:hiran.v@gmail.com" class="btn">Drop an email</a>
  <a href="https://hiran.substack.com/" class="btn">Join Newsletter</a>
</div>

</div>
       
<!-- now page -->
<div class="slot-large">
  <h3>Now</h3>
  {% assign now_page = site.pages | where: "name", "now.md" | first %}
  {{ now_page.content | markdownify }}
</div>

<div>